<%= simple_form_for(@team) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.association :competition, collection: Competition.all.map{ |competition| [competition.name, competition.id, {name: competition.name.downcase}] } %>
  </div>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.input :name %>
  </div>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.input :country, as: :string %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>