<% tab "home" %>
<div class="tennis_field_image">
  <h1 class="text-center pt-3">What to do?</h1>
  <h4 class="text-center">Your wallet credit is: <%= current_user.wallet.credit %> novipoints</h4>
  <div class="row top-buffer pb-5">
    <div class="col d-flex justify-content-center">
      <div class="container">
        <%= render "games/table", games: @todays_games, title: "Todays games" %>
        <div class="col-md-12 text-center pt-3">
          <button type="button" class="btn btn-secondary">Make a prediction!</button>
        </div>
      </div>
    </div>

  </div>
</div>
<div class="basketball_field_image">
  <h1 class="text-center pt-3">Current data</h1>
  <div class="row top-buffer pb-5">
    <div class="col-sm-4 col-xs-4 d-flex justify-content-center">
      <div class="container">
        <h5>Games</h5>
        <%= render "games/table", games: @upcoming_games, title: "Upcoming games" %>
      </div>
    </div>
    <div class="col-sm-4 col-xs-3 d-flex justify-content-center">
      <div class="container">
        <h5>Competitions</h5>
        <%= render "competitions/table", competitions: @competitions %>
      </div>
    </div>
    <div class="col-sm-4 col-xs-3 d-flex justify-content-center">
      <div class="container">
        <h5>Teams</h5>
        <%= render "teams/table", teams: @teams %>
      </div>
    </div>
  </div>
</div>
<div class="soccer_field_image">
  <h1 class="text-center pt-3">Top articles</h1>
  <div class="row top-buffer text-center">
    <div class="col-sm-4 col-xs-4 d-flex justify-content-center">
      <div class="card bg-dark border-success mb-4" style="width: 23rem;">
        <%= image_tag "soccer_player.jpg", class: "card-img-top", alt: "soccer player" %>
        <div class="card-body">
          <h5 class="card-title">Top soccer article</h5>
          <p class="card-text">UEFA might have (accidentally) landed on the perfect model for its second-tier championship,...</p>
          <a href="https://www.nytimes.com/2020/08/15/sports/soccer/europa-league.html" class="btn btn-warning">Read more...</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-3 d-flex justify-content-center">
      <div class="card bg-dark border-success mb-4" style="width: 23rem;">
        <%= image_tag "basketball_player.jpg", class: "card-img-top", alt: "basketball player" %>
        <div class="card-body">
          <h5 class="card-title">Top basketball article</h5>
          <p class="card-text">The game is a place of progressive ideas, leadership, diversity and hope...</p>
          <a href="https://www.nytimes.com/2020/08/15/sports/soccer/europa-league.html" class="btn btn-warning">Read more...</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 col-xs-3 d-flex justify-content-center">
      <div class="card bg-dark border-success mb-4" style="width: 23rem;">
        <%= image_tag "hockey_player.jpeg", class: "card-img-top", alt: "hockey player" %>
        <div class="card-body">
          <h5 class="card-title">Top hockey article </h5>
          <p class="card-text">N.H.L. teams’ raucous home arena traditions have persisted, with tweaks, in the postseason hub cities...        </p>
          <a href="#" class="btn btn-warning">Read more...</a>
        </div>
      </div>
    </div>
  </div>
</div>


