<%= simple_form_for([@game, @prediction]) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.association :team, collection: @playing_teams.map{ |team| [team.name, team.id, {name: team.name.downcase}] } %>
  </div>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.input :will_win %>
  </div>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.input :points %>
  </div>

  <%= f.input :user_id, as: :hidden, input_html: { value: current_user.id } %>
  <%= f.input :game_id, as: :hidden, input_html: { value: @game.id } %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>