<% if @only_show_user_predictions %>
  <% tab "predictions" %>
<% end %>

<h1>Predictions</h1>

<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Will win</th>
      <th>User</th>
      <th>Points</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @predictions.each do |prediction| %>
      <tr>
        <td><%= prediction.team.name %></td>
        <td><%= prediction.will_win ? "Win" : "Lose" %></td>
        <td><%= prediction.user.first_name %></td>
        <td><%= prediction.points %></td>
        <% unless @only_show_user_predictions %>
          <td><%= link_to 'Show', game_prediction_path(@game, prediction) %></td>
          <td><%= link_to 'Edit', edit_game_prediction_path(@game, prediction) %></td>
          <td><%= link_to 'Destroy', [@game, prediction], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% unless @only_show_user_predictions %>
  <%= link_to 'New Prediction', new_game_prediction_path(@game) %>
<% end %>
