<% tab "user" %>

<div class="basketball_field_image">
  <div  class="row justify-content-center align-items-center h-50">
    <div class="card bg-dark col-lg-7 order-lg-2 mb-4 mt-4 no-float">
      <div class="card-header">
        <h1><%= current_user.name %></h1>
      </div>
      <div class="card-body">
        <%= simple_form_for current_user do |f| %>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">First name</label>
            <div class="col-lg-9">
              <%= f.text_field :first_name, required: true, class: "form-control" %> 
            </div>
          </div>
        <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Last name</label>
            <div class="col-lg-9">
              <%= f.text_field :last_name, required: true, class: "form-control"  %> 
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Email</label>
            <div class="col-lg-9">
              <%= f.text_field :email, required: true, class: "form-control"  %> 
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">password</label>
            <div class="col-lg-9">
              <%= f.password_field :password, required: true, class: "form-control"  %> 
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Confirm password</label>
            <div class="col-lg-9">
              <%= f.password_field :password_confirmation, required: true, class: "form-control"  %> 
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
              <%= f.submit "Update", class: "btn btn-primary"  %> 
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card bg-dark col-lg-7 order-lg-2 mb-4 mt-4 no-float">
      <div class="card-header">
        <h1>Your wallet</h1>
        <h3>Current credit: <%= current_user.wallet.credit %></h3>

        <h6>You are only allowed to take 5 novipoints</h6>
      </div>
      <div class="card-body">
        <%= simple_form_for(current_user.wallet) do |f| %>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label">Add credit</label>
            <div class="col-lg-9">
              <%= f.select :add_credit, ((1..5).map {|i| [i,i] }),  {}, {class: "form-control"} %>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-lg-3 col-form-label form-control-label"></label>
            <div class="col-lg-9">
              <%= f.submit "Update", class: "btn btn-primary"  %> 
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="card bg-dark col-lg-7 order-lg-2 mb-4 mt-4 no-float">
      <div class="card-header">
        <h1>Your predictions</h1>
      </div>
      <div class="card-body">
        <div class="container">
          <%= render "predictions/table", predictions: current_user.predictions, title: "Predictions" %>
      </div>
    </div>
  </div>
</div>
