<%= form_with(model: game, local: true) do |form| %>
  <% if game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
        <% game.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_team %>
    <%= form.text_field :first_team %>
  </div>

  <div class="field">
    <%= form.label :second_team %>
    <%= form.text_field :second_team %>
  </div>

  <div class="field">
    <%= form.label :match_date %>
    <%= form.date_select :match_date %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :score_first_team %>
    <%= form.number_field :score_first_team %>
  </div>

  <div class="field">
    <%= form.label :score_second_team %>
    <%= form.number_field :score_second_team %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
