<%= simple_form_for(@game) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.association :first_team, collection: Team.all.map{ |team| [team.name, team.id, {name: team.name.downcase}] } %>
  </div>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.association :second_team, collection: Team.all.map{ |team| [team.name, team.id, {name: team.name.downcase}] } %>
  </div>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.input :match_date %>
  </div>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.input :location %>
  </div>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.input :score_first_team, disabled: @disable_score_fields %>
  </div>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.input :score_second_team, disabled: @disable_score_fields %>
  </div>

  <div class="form-inputs" style="margin-left: 2em;">
    <%= f.input :prediction_prize %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>