<p id="notice"><%= notice %></p>

<p>
  <strong>First team:</strong>
  <%= @game.first_team.name %>
</p>

<p>
  <strong>Second team:</strong>
  <%= @game.second_team.name%>
</p>

<p>
  <strong>Match date:</strong>
  <%= @game.match_date %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>Score first team:</strong>
  <%= @game.score_first_team %>
</p>

<p>
  <strong>Score second team:</strong>
  <%= @game.score_second_team %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
<%= link_to 'Make a prediction', new_game_prediction_path(@game) %>
