<!DOCTYPE html>
<html>
  <head>
    <title>NovititionRuby</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'dashboard/navbar' %>
    </header>
    <div class="container-fluid page">
      <div class='<%= controller.controller_name %>'> 
        <%= render 'layouts/flash_messages' %>
        <%= yield %>
      </div>
    </div>
    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
      <div class="container text-center">
        <small>Copyright &copy; Novitition ~> Anouar Azzouz</small>
      </div>
    </footer>
  </body>
</html>
